{% load static %}
<html>
   <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
         integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'css/blogs.css' %}">
   </head>
   <body>
      <nav>
         <ul>
            {% if user.is_authenticated %}
            <li>
               <form class ="logout-link" action = "{% url 'accounts:logout' %}" method = "post">
                  {% csrf_token%}
                  <button type="submit">Logout</button>
               </form>
            </li>
            <li>
                <a href="{% url 'blogs:post_new' %}" class="highlight">Add New Post</a>
            </li>
            {% else %}
            <li><a href="{% url 'accounts:login' %}">Login</a></li>
            <li><a href="{% url 'accounts:signup' %}">SignUp</a></li>
            {% endif  %}
         </ul>
      </nav>
      <div class="page-header">
         <h1><a href="/">My Blog</a></h1>
      </div>
      <div class="content container">
         <div class="row">
            <div class="col-md-8">
               {% block content %}
               {% endblock %}
            </div>
         </div>
      </div>
      <div id="sidebar">
        <h2>My blog</h2>
        <p>This is my blog.</p>
        <p><a href=#>Subscribe to my RSS feed</a></p>
        <h3>Latest posts</h3>
        <h3>Most commented posts</h3>
     </div>
   </body>
</html>